.icon{
  text-decoration: none;
  color: white;
}

/* section{
  background-position: 
} */
#searchTitle{
  color: white;
  font-size: 50px;
}

#input_Box{
  width: 728px;
  height: 48px;
}
#search_Button{
  width:120px;
  height: 48px;
  background-color: black;
  color: white;
}
#search-head{
  font-size: 20px;
  /* font-weight: bold; */
}
#intro_title{
  
}